{% extends "base.html" %}

{% block content %}
    <h1>Add Book</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
        </p>
        <p>
            {{ form.availability }} {{ form.availability.label }}<br>
        </p>
        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}