<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% if title %}
        <title>{{ title }} - Avallon's library</title>
        {% else %}
        <title>Welcome to Avallon's library</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a>Avallon's library:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('inventory') }}">Inventory</a>
            <a href="{{ url_for('search_book') }}">Search Book</a>
            {% if current_user.is_employee %}
            <a href="{{ url_for('add_book') }}">Add Book</a>
            <a href="{{ url_for('reservations') }}">Follow Reservations</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
