{% extends "base.html" %}

{% block content %}
    <h1>Edit Book</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.title) }}
            {{ render_field(form.availability) }}
            {{ render_field(form.location) }}
        </dl>
    <p>{{ form.submit() }}
</form>
{% endblock %}