{% extends "base.html" %}

{% block content %}
    <h1>Search book</h1>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.search) }}
        </dl>
        <p><input type=submit value=Search>
    </form>
{% endblock %}